<section class="app-portfolio">
        <div class="app-container">
            <h2 class="app-portfolio__title">Check out our latest works</h2>
            <p class="app-portfolio__desc">Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.</p>
            <div class="app-portfolio__projects">
                <div class="app-grid">
                    <div class="app-cell">
                        <div class="app-portfolio__project">
                            <img class="app-portfolio__project-image" src="assets/images/hotel.jpg" alt="">
                            <div class="app-portfolio__project-text">
                                <h3 class="app-portfolio__project-text-h3">Grand Motel gets an identity brushup</h3>
                                <span class="app-portfolio__project-text-idenity">Identity</span>
                            </div>
                        </div>
                    </div>
                    <div class="app-cell">
                        <div class="app-portfolio__project">
                            <img class="app-portfolio__project-image" src="assets/images/smartphone.jpg" alt="">
                            <div class="app-portfolio__project-text">
                                <h3 class="app-portfolio__project-text-h3">Grand Motel gets an identity brushup</h3>
                                 <span class="app-portfolio__project-text-idenity">Identity</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="app-portfolio__carousel">
                <div class="app-portfolio__carousel-wrapper">
                    <div class="app-grid">                    
                        <div class="app-cell">
                            <div class="app-portfolio__carousel-img">
                                <img class="app-portfolio__carousel-image" src="assets/images/book.jpg" alt="">
                            </div>
                        </div>
                        <div class="app-cell">
                            <div class="app-portfolio__carousel-img">
                                <img class="app-portfolio__carousel-image" src="assets/images/disc.jpg" alt="">
                            </div>
                        </div>
                        <div class="app-cell">
                            <div class="app-portfolio__carousel-img">
                                <img class="app-portfolio__carousel-image" src="assets/images/logo.jpg" alt="">
                            </div>
                        </div>
                        <div class="app-cell">
                            <div class="app-portfolio__carousel-img">
                                <img class="app-portfolio__carousel-image" src="assets/images/signal.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="app-portfolio__carousel-buttons">
                    <div class="app-portfolio__carousel-button"></div>
                    <div class="app-portfolio__carousel-button app-portfolio__carousel-button--active"></div>
                    <div class="app-portfolio__carousel-button"></div>
                </div>
            </div>
        </div>
    </section>