<section class="app-introduction">
        <div class="app-container">
                <h1 class="app-introduction__title">Beautiful. Clean. Responsive.</h1>
                <p class="app-introduction__desc">REEN is a high-quality solution for those who want a beautiful website in no time. It's fully responsive and will adapt itself to any mobile device. iPad, iPhone, Android, it doesn't matter. Your content will always looks its absolute best.</p>
                <div class="app-grid">
                    <div class="app-cell">
                        <article class="app-introdcution__article">
                            <div class="app-grid">
                                <i class="app-introduction__article-icon1 far fa-heart"></i>
                                <div class="app-cell app-cell--3-col">
                                    <h1 class="app-introduction__article-title">Passion</h1>
                                    <p class="app-introduction__article-desc">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="app-cell">
                        <article class="app-introduction__article">
                                <div class="app-grid">
                                        <i class="app-introduction__article-icon2 far fa-lightbulb"></i>
                                        <div class="app-cell app-cell--3-col">
                                            <h1 class="app-introduction__article-title">Creativity</h1>
                                            <p class="app-introduction__article-desc">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
                                        </div>
                                </div>
                        </article>
                    </div>
                    <div class="app-cell">
                        <article class="app-introduction__article">
                                <div class="app-grid">
                                        <i class="app-introduction__article-icon3 far fa-star"></i> 
                                        <div class="app-cell app-cell--3-col">
                                            <h1 class="app-introduction__article-title">Quality</h1>
                                            <p class="app-introduction__article-desc">Magnis modipsae que lib voloratati andigen daepeditem quiate re porem aut labor. Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam core posae volor remped modis volor.</p>
                                        </div>
                                </div>
                        </article>
                    </div>
                </div>
        </div>      
    </section>