<footer class="app-footer">
        <div class="app-footer__body">
            <div class="app-container">
                <div class="app-grid">
                    <div class="app-cell">
                        <article class="app-footer__widget">
                            <h3 class="app-footer__widget-title">who we are</h3>
                            <div class="app-footer__widget-content">
                                <p class="app-footer__widget-content--logo">reen.</p>
                                <p class="app-footer__widget-content--para">Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes maio es dem tumquam.</p>
                                <p class="app-footer__widget-content--link"><a class="app-footer__widget-photo" href="#">more about us</a></p>
                            </div>
                        </article>                        
                    </div>
                    <div class="app-cell">
                        <article class="app-footer__widget">
                            <h3 class="app-footer__widget-title">latest works</h3>
                            <div class="app-footer__widget-content app-footer__widget-content--photo">
                                <img class="app-footer__img" src="assets/images/hotel.jpg" alt="">
                                <img class="app-footer__img" src="assets/images/ipad.jpg" alt="">
                                <img class="app-footer__img" src="assets/images/dishlinh.jpg" alt="">
                                <img class="app-footer__img" src="assets/images/phonelinh.jpg" alt="">
                            </div>
                        </article>                       
                    </div>
                    <div class="app-cell">
                        <article class="app-footer__widget">
                            <h3 class="app-footer__widget-title">get in touch</h3>
                            <div class="app-footer__widget-content">
                                <p class="app-para">Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
                                <ul class=" app-footer__widget-content-contact ">

                                    <li><i class="far fa-envelope-open">snnnnf@gmail</i></li>
                                    <li><i class="far fa-envelope-open">snnnnf@gmail</i></li>
                                    <li><i class="far fa-envelope-open">snnnnf@gmail</i></li>
                                </ul>
                            </div>
                        </article>                      
                    </div>
                    <div class="app-cell">
                        <article class="app-footer__widget">
                            <h3 class="app-footer__widget-title">free updates</h3>
                            <div class="app-footer__widget-content">
                                <p class="app-para">Conecus iure posae volor remped modis aut lor volor accabora incim resto explabo.</p>
                                <p><a href="#">subsribe</a></p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-footer__footer">
            <div class="app-container">
                <div class="app-grid">
                    <div class="app-cell">
                        <p class="app-footer__copyright">2014 REEN. All rights reserved.</p>
                    </div>
                    <div class="app-cell">
                        <ul class="app-footer__navigation">
                            <a class="app-footer__navigation-link" href="#home">home</a>
                            <a class="app-footer__navigation-link" href="#portfolio">portfolio</a>       
                            <a class="app-footer__navigation-link" href="#blog">blog</a>   
                            <a class="app-footer__navigation-link" href="#about">about</a>
                            <a class="app-footer__navigation-link" href="#services">services</a>
                            <a class="app-footer__navigation-link" href="#contact">contact</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>