<nav class="app-navigation">
        <div class="app-navigation__contact">
            <div class="app-container">
                <div class="app-grid">
                    <div class="app-cell">
                        <div class="app-navigation__mail">
                            <i class="far fa-envelope-open app-navigation__mail--m">snnnnf@gmail</i>
                            <i class="far fa-envelope-open app-navigation__mail--m">snnnnf@gmail</i>
                        </div>
                    </div>
                    <div class="app-cell">
                        <div class="app-navigation__contact-ecos">
                            <i class="fab fa-facebook-f app-navigation__contact-ecos-f"></i>
                            <i class="fab fa-facebook-f app-navigation__contact-ecos-f"></i>
                            <i class="fab fa-facebook-f app-navigation__contact-ecos-f"></i>
                            <i class="fab fa-facebook-f app-navigation__contact-ecos-f"></i>
                            <i class="fab fa-facebook-f app-navigation__contact-ecos-f"></i>
                            <i class="fab fa-facebook-f app-navigation__contact-ecos-f"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-navigation__navigations">
            <div class="app-container">
                <div class="app-grid">
                    <div class="app-cell">
                        <p class="app-navigation__nav app-navigation__nav-logo">reen.</p>
                    </div>
                    <div class="app-cell">
                        <article class="app-navigation__nav app-navigation__nav-img">
                            <a class="app-navigation__img" href="#home">home</a>
                            <a class="app-navigation__img" href="#portfolio">porfolio</a>
                            <a class="app-navigation__img" href="#blog">blog</a>
                            <a class="app-navigation__img" href="#pages">pages</a>
                            <a class="app-navigation__img" href="#feature">feature</a>
                            <a class="app-navigation__img" href="#megamenu">megamenu</a>
                            <a class="app-navigation__img" href="#contact">contact</a>
                        </article>
                    </div>
                    <div class="app-cell">
                        <div class="app-navigation__nav app-navigation__search">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>   
                </div>      
            </div>
        </div> 
    </nav>
    <!-- /.app-navigation -->