<header class="app-header">
        <div class="app-container">
            <h2 class="app-header__title">Made for Designers</h2>
            <p class="app-header__desc">Create your online portfolio in minutes with the professionally and lovingly designed REEN website template. Customize your site with versatile and easy to use features.</p>
                     
            {{>app-button big=true text="get started now"}}
        </div>
</header>
<!-- /.app-header -->
