<section class="app-contact">
    <div class="app-container">
      <h2 class="app-contact__title">Want to work with us?</h2>
      <p class="app-contact__desc">
        Magnis modipsae que voloratati andigen daepeditem quiate re porem aut labor.
        Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam.
      </p>
      {{> app-button big=false text="get in touch"}}
    </div>
</section>
<!-- /.app-contact -->